<%= render "mains/header"%>

<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      シェアピック
    </h2>
    <p class='service-explain'>
      SharaPickはだれでもかんたんに出品・レンタルができる
    </p>
    <p class='service-explain'>
      個人シェアアプリです
    </p>
    
  </div>
  <%# //画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      SharaPickが選ばれる3つの理由
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "furima-intro01.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>3分</span>
          ですぐに出品
        </h3>
        <p class='reason-list-description'>
          スマホで入力するだけで簡単に出品できる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro02.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>シンプル</span>
          で簡単！
        </h3>
        <p class='reason-list-description'>
          めんどくさい入力は必要なく、検索も購入もスムーズ！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro03.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
          手数料
          <span class='reason-list-blue-text'>業界最安</span>
        </h3>
        <p class='reason-list-description'>
          最大5%でお得に出品&購入！
        </p>
      </li>
    </ul>
  </div>
  <%# //SharaPickが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      登録者数日本一位
    </h2>
    <p class='ad-explain'>
      SharaPickは、最も人気な個人シェアリングアプリ。
    </p>
    <p class='ad-explain'>
      出品・レンタル回数も業界最多です！
    </p>
    <p class='ad-explain'>
      ほしかったあの商品を手軽に試せるチャンス！！
    </p>
    
  </div>
  <%# //画面中央の「会員数日本一位」帯部分 %>

  <%# SharaPickの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      SharaPickの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "shara-pick.intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          簡単に貸し借りできる
        </h3>
        <p class='feature-list-description'>
          スマホひとつで、いつでもどこでも簡単に出品・レンタルが可能！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "shara-pick.intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          売上金は即日振込みに対応
        </h3>
        <p class='feature-list-description'>
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "shara-pick.intro06.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          様々な支払いに対応
        </h3>
        <p class='feature-list-description'>
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        </p>
      </li>
    </ul>
  </div>
  <%# //SharaPickの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>新規投稿商品</h2>
    <ul class='item-lists'>

    

    
       <% @items.each do |item| %>
      <li class='list'>
        <%= link_to  item_path(item.id)  do%>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

          <%# 商品が売れていればsold outの表示 %>
           <% if !item.payment.nil? %>
          <div class='sold-out'>
            <span>レンタル中</span>
          </div>
          <% end %>
          <%# //商品が売れていればsold outの表示 %>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'><%= item.liked_users.count %></span>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </li>
     
    </ul>
  </div>
  <%# //商品一覧 %>
</div>




<%# 出品ボタン%>
 <% if user_signed_in? %>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <%= link_to image_tag('box.png' , size: '185x50' ,class: "purchase-btn-icon"), new_item_path %>
  <%else%>
  <div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
  <%= link_to image_tag('box.png' , size: '185x50' ,class: "purchase-btn-icon"), new_user_session_path%>
</div>
  <%end%>
</div>

  <%= render "mains/footer" %>