<header class='header'>
<div  class='top-page-header'>
  <div calss='header-logo'>
    <%= link_to image_tag("shara-pick-logo.png", class:"shara-pick-icon"), "/" %> 
    <div class='top-list'>
      <ul class='main-list'>
        <li><%= link_to '出品', :new_item, class:"exhibition-list"%></li> 
        <li><%= link_to '取引', rental_path(current_user.id),class:"my-page"%></li>
        <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class:"user-nickname"%>様</li>
        <li><%= link_to 'ログアウト', :destroy_user_session , method: :delete, class: "logout" %> </li> 
        <% else%>
        <li><%= link_to 'ログイン', :new_user_session, class:"login"%></li>
        <li><%= link_to '新規登録', :new_user_registration , class:"sign-up"%></li>
        <% end %>

        </ul>
        </div>
        </div>

        <div  class='form-contents'>
          <form class="search-form" action="#">
           <input class='input-box' placeholder='キーワードで探す'>
　　　　　　　　<button class="search-button">
              <%= image_tag "search.png", class:"search-icon"%> 
            </button> 
            </form>  
  </div>
  </header>