<header class='top-page-header'>
  <div calss='header-logo'>
    <%= link_to image_tag("shara-pick-logo.png", class:"shara-pick-icon"), "/" %> 
    <div class='top-list'>
      <ul class='main-list'>
        <li><%= link_to '出品', "#", class:"exhibition-list"%></li> 
        <li><%= link_to 'マイページ',"#",class:"my-page"%></li>
        <li><%= link_to 'ログイン', "#", class:"login"%></li>
        <li><%= link_to '新規登録', "#", class:"sign-up"%></li>

        </ul>
        </div>
        </div>

        <div  class='form-contents'>
          <form class="search-form" action="#">
           <input class='input-box' placeholder='キーワードで探す'>
　　　　　　　　<button class="search-button">
              <%= image_tag "search.png", class:"search-icon"%> 
            </button> 
            </form>  
  
  </header>