<header class='header'>

<div class='search-bar-contents'>
    <%= link_to image_tag("shara-pick-logo.png", class:"shara-pick-icon"), "/" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
</div>



      <ul class='main-list'>
       <% if user_signed_in? %>
        <li><%= link_to '出品', :new_item, class:"list"%></li> 
        <li><%= link_to '取引履歴', rental_path(current_user.id),class:"list"%></li>
        <li><%= link_to 'マイページ', user_path(current_user.id), class:"list"%></li>
        <li><%= link_to 'ログアウト', :destroy_user_session , method: :delete, class: "list" %> </li> 
        <% else%>
        <li><%= link_to  '出品', :new_user_session, class:"list"%></li> 
        <li><%= link_to '取引履歴', :new_user_session,class:"list"%></li>
        <li><%= link_to 'ログイン', :new_user_session, class:"llist"%></li>
        <li><%= link_to '新規登録', :new_user_registration , class:"list"%></li>
      <% end %>
     </ul>
        
  </header>